<!DOCTYPE html>
<html>
 <head>
 	<link rel="stylesheet" href="../resources/css/style.css">
 	<link
 href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
 rel="stylesheet"
 integrity="sha384-
T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
 crossorigin="anonymous"
 />
 <title>Thomas Huard</title>
 </head>
 <body>
 <h1>Thomas Huard's Portfolio</h1>
 <nav class="navbar navbar-expand-lg navbar-light bg-info">   
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav">
<li class="nav-item">
<a class="nav-link" href="index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="schedule.html">Fall 2024 Schedule</a>
</li>
<li class="nav-item">
<a class="nav-link" href="hobbies.html">Hobbies</a>
</li>
</ul>
</div>
</nav>
 <p>I am a Civil and Environmental Engineering student at Villanova University in the graduating class of 2026. I am also studying a computer science minor. I'm interested in the cross section between civil engineering and computer science integration. I enjoy playing Ice Hockey on the Villanova Club team along with golf in my free time.</p>
 <a href="https://www1.villanova.edu/university/liberal-arts-sciences/programs/computing-sciences.html">Link to Villanova Computing Sciences Department </a>
 
 <img
 src="../resources/img/headshot.png"
 class="rounded"
 alt="Thomas Huard's Headshot"
 width="220px"
/>
 </body>
</html>